
body{
  font-family: courier;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}

h3{
  font-size: 16px;
  line-height: 22px;
}

.cabecera{
   max-width: 100%;

  img{
    width: 100%;
  }
}

.cabecera h1{
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: courier;
  margin-top: 280px;
  letter-spacing: 5px;
}

.introduccion{
  font-family: courier;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}

 .introduccion .textoBold{
   font-weight: bold;
 }

 .textoBold{
   margin-bottom: 10px;
 }

.introduccion h2{
  color: #57B78D;
  font-size: 25px;
}

.programasUtilizados ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  width: 300px;
}


p{
  font-size: 16px;
  font-family: serif;
  font-style: normal;
}
