
body{
  text-align: left;
  width: 100%;
}


.cabecera{
   width: 100%;
   height: 100%;
}
.foto-cabecera{
  max-width: 100%;
}


 .introduccion .textoBold{
   font-weight: bold;
 }

 .textoBold{
   margin-bottom: 10px;
 }


.programasUtilizados ul{
  box-sizing: border-box;
  display: block;
}

.tratamientoColor img{
  display: block;
  margin-bottom: 10px;
}
