
	@media (max-width: 768px) {
	header label {
		float:right;
    display: block;
    padding-top: 34px;
    padding-right: 18px;
    transition: all 0.4s ease;
		cursor: pointer;
  }

  .menu {
    position: absolute;
    top: 64px;
    left: 100%;
    width: 70%;
    transition: all 0.3s;
  }
 .visible{
	left:5%;
	width: 90%;
}

.menu ul {
	display: flex;
  flex-direction: column;
  list-style: none;
  padding: 109px;
	position: absolute;
  width: 100%;
	background: #5BC6A1;
	transform: translateY(-2%);
}


.menu a {
	display: block;
  padding: 17px 3px;
  color: #FFF;
  text-decoration: none;
  line-height: 60px;
  font-size: 23px;
  font-family: courier;
  font-weight: 500;
}

.menu li:hover a{
	color: #191b1a;
}

//----------------------
.menu2{
	position: absolute;
	top: 64px;
	left: 100%;
	width: 70%;
	transition: all 0.3s;
}


.menu2 ul{
	display: flex;
  flex-direction: column;
  list-style: none;
  padding: 109px;
	position: absolute;
  width: 100%;
	background: #5BC6A1;
	transform: translateY(-2%);
}

.menu2 a{
	display: block;
  padding: 17px 3px;
  color: white;
  text-decoration: none;
  line-height: 60px;
  font-size: 23px;
  font-family: courier;
  font-weight: 500;
}


.menu2 li:hover a{
	color: #191b1a;
}

//------------------------



  #menu-barras:checked ~ .menu {
    transform: translateX(0%);
  }

}

@media (min-width: 768px) {
#menu-barras{
	display: none;
}

	* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: courier;
}

header {
  height: 64px;
  background: none;
  color: black;
  display: flex;
  justify-content: flex-end;
	width: 96%;
	height: 50px;
	top: 35px;
	left: 20px;
	z-index: 100;
	position: absolute;
}

.logotipo{
	position: absolute;
}

.contenedor .icon-menu {
  display: none;
}
.menu{
	width: 63%;
	position: absolute;
	left: 37%;
	top: 10%;
	height: 5%;
}
.visible{
	left:5%;
	width: 96%;
	top: 64px;
  transition: all 0.3s;
}

header label {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.menu ul ul {
  display: none;
}

.menu ul{
	display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
	padding: 0%;
	width: 85%;
  margin-top: -6%;
  margin-left: -20%;
  text-align: center;
  list-style: none;
	background: rgba(127, 127, 127, 0);
 }
 .menu a {
 	display: block;
   padding: 17px 3px;
   color: black;
   text-decoration: none;
   line-height: 60px;
   font-size: 21px;
   font-family: courier;
   font-weight: 500;
 }
 .menu li{
	 margin-right: 21px;
 }
 .menu li:hover a{
 	color: #5BC6A1;
 }


 //------------------------------------------
 .menu2{
 	width: 63%;
 	position: absolute;
 	left: 37%;
 	top: 10%;
 	height: 5%;
}

 .menu2 ul ul{
   display: none;
 }

 .menu2 ul{
 	display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   flex-direction: row;
 	padding: 0%;
 	width: 85%;
   margin-top: -6%;
   margin-left: -20%;
   text-align: center;
   list-style: none;
 	background: rgba(127, 127, 127, 0);
  }
  .menu2 a{
  	display: block;
    padding: 17px 3px;
    color: white;
    text-decoration: none;
    line-height: 60px;
    font-size: 21px;
    font-family: courier;
    font-weight: 500;
  }
  .menu2 li{
 	 margin-right: 21px;
  }
  .menu2e li:hover a{
  	color: #5BC6A1;
  }
}


//DESKTOP//
@media (min-width:1024px) {
	header {
		width: 98%;
    height: 50px;
    top: 35px;
    left: 20px;
    z-index: 100;
	}
.menu{
	width: 53%;
	position: absolute;
	left: 40%;
}
	.menu ul{
		margin-top: 3%;
		margin-left: -14%;
	}
	.menu li{
		margin-right: 13%;
	}
	.menu li:hover a{
	 color: #5BC6A1;
	}




//----------------------------------
	.menu2{
		width: 53%;
		position: absolute;
		left: 40%;

	}
		.menu2 ul{
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			flex-direction: row;
			padding: 0%;
			width: 85%;
			margin-top: 3.2%;
			margin-left: -14%;
			text-align: center;
			list-style: none;
		}
		.menu2 li{
			margin-right: 13%;

		}
		.menu2 a{
			display: block;
		   padding: 17px 3px;
		   color: white;
		   text-decoration: none;
		   line-height: 60px;
		   font-size: 21px;
		   font-family: courier;
		   font-weight: 500;
		}

		.menu2 li:hover a{
		 color: #5BC6A1;
		}
}
