@media (max-width: 768px) {
#menu-barras{
	display: none;
}
.logotipo{
	  top: 57%;
    right: 84%;
    position: absolute;
    margin: 0%;
}


#main {
	background-color: #5BC6A1;
  padding: 10px;
  margin: 10px;
}
.border {
	background-color: white;
	margin-top: 0%;
 }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Courier;
}
.container{
	margin-left: auto;
	margin-right: auto;
	width: 89%;
	display: flex;
}

.container ul{
	margin-top: 26%;
	margin-bottom: 0%;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.container li{
	width: 100%;
	list-style: none;
	margin-bottom: 10%;
}
.container img{
	width: 298px;
}



.galeria1 h5{
	margin-top: -44%;
  margin-left: -8%;
}
.galeria2 h5{
	margin-left: -14%;
	margin-top: -44%;
}
.galeria3 h5{
	margin-left: -10%;
  margin-top: -44%;
}

.aplicaciones2 li img{
	width: 100%;
	margin-bottom: 10%;
}

	h5{
		position: absolute;
		left: 48px;
		top: 211px;
		font-size: courier;
		font-size: 20px;
		font-weight: normal;
		list-style: none;
		color: white;
		width: 100%;
	}
	#efecto{
		position: relative;
		width: 298px;
		height: 198px;
    padding-bottom: -7%;
    padding-top: -23%;
    margin-top: -67.5%;
		background-color: rgba(0,0,0,.3);
		opacity: 0;
		transition: 0.80s;
	}

	.galeria li:hover #efecto{
		opacity: 1;
	}

}






/*.container li{
  width: 100%;
  list-style: none;
  margin-bottom: 10%;
}
.container img{
  width: 100%;
}
.container {
	margin-left: auto;
	margin-right: auto;
	width: 81%;
}
.container ul{
  margin-top: 21%;
}
.grid{
  display:inline;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.galeria li:after{
	padding: 100px 0 0;
	text-align: center;
	font-weight: bold;
  font-size: 20px;
	color: white;
	font-family: courier;
    height:231px;
	 background:black;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    position: absolute;
  }

  .galeria li:hover:after{
	opacity:0.60;
}

.galeria li.galeria1:after{
    width: 271px;
    height: 183px;
    bottom: 70%;
    left: 0px;
    padding: 0%;
    -webkit-transition: opacity 0.3s;
    content:'FOTOGRAFÍA - MATADOR';
}

.galeria li.galeria2:after{
    width: 271px;
    height: 183px;
    bottom: 35%;
    left: 0px;
    padding: 0%;
    content:'INFOGRAFÍAS - GREENPEACE';
}

.galeria li.galeria3:after{
    width: 271px;
    height: 183px;
    bottom: 0%;
    left: 0px;
    padding: 0%;
    content:'BRANDING - TITELLESTIU';
}
*/



@media (min-width: 768px) {
  .logotipo{
    top: 11%;
    right: 93%;
    position: absolute;
  }
	.container{
    margin-left: auto;
    margin-right: auto;
    width: 67%;
    display: flex;
  }

  .container ul{
    margin-top: 26%;
		margin-bottom: 0%;
    display: flex;
    flex-direction: column;
		width: 100%;
  }
  .container li{
    width: 100%;
		height: 45%;
    list-style: none;
    margin-bottom: 11%;
    justify-content: space-around;
    margin-right: 2%;
  }
  .container img{
    width: 485px;
  }

	.galeria1 h5{
		margin-top: -13%;
    padding-left: 9%;
	}
	.galeria2 h5{
		margin-left: -3%;
    margin-top: -13%;
	}
	.galeria3 h5{
		margin-left: 0%;
		margin-top: -13%;

	}


		h5{
			position: absolute;
			left: 48px;
    	top: 211px;
    	font-size: courier;
    	font-size: 30px;
    	font-weight: normal;
			list-style: none;
			color: white;
			width: 100%;
		}
		#efecto{
			position: relative;
	    width: 485px;
	    height: 326px;
	    padding-bottom: -7%;
	    padding-top: -23%;
	    margin-top: -67.5%;
			background-color: rgba(0,0,0,.3);
			opacity: 0;
			transition: 0.80s;
		}

		.galeria li:hover #efecto{
			opacity: 1;
		}

	}
  /*.galeria li.galeria1:after{
    width: 590px;
    height: 393px;
  }

.galeria li.galeria2:after{
  width: 590px;
  height: 393px;
}
.galeria li.galeria3:after{
  width: 590px;
  height: 396px;
}*/

@media (min-width:1024px) {
	.logotipo{
		top: 70%;
		right: 95%;
    position: absolute;
  }
	.container{
		padding-bottom: 19%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    display: flex;
  }

  .container ul{
    margin-top: 18%;
		margin-bottom: 0%;
    display: flex;
    flex-direction: row;
		width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container li{
		width: 30%;
		    height: 45%;
		    list-style: none;
		    margin-bottom: 11%;
		    justify-content: space-around;
		    margin-right: 2%;
  }

 .galeria3{
	 margin-right: 0px;

}

  .container img{
    width: 100%;
  }

	.galeria1 h5{
		margin-top: -34%;
    margin-left: -15%;;
	}
	.galeria2 h5{
		margin-left: -13%;
    margin-top: -34%;
	}
	.galeria3 h5{
		margin-left: -12%;
		margin-top: -34%;
	}
	#efecto{
		position: relative;
		width: 100%;
		height: 400%;
    padding-bottom: -7%;
    padding-top: -23%;
    margin-top: -67.5%;
		background-color: rgba(0,0,0,.3);
		opacity: 0;
		transition: 0.80s;
	}

	.galeria li:hover #efecto{
		opacity: 1;
	}


		h5{
			position: absolute;
    	font-size: courier;
    	font-size: 23px;
    	font-weight: normal;
			list-style: none;
			color: white;
		}

	}
	/*
	.container{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    display: flex;
  }
  .grid{
    position: relative;
    margin-left: 10px;
    display: flex;
  }
  .container ul{
    margin-top: 20%;
    display: flex;
    flex-direction: row;
  }
  .container li{
    width: 100%;
    list-style: none;
    margin-bottom: 13%;
    justify-content: space-around;
    margin-right: 2%;
  }
  .container img{
    width: 485px;
  }
	.galeria li:after{
		padding: 100px 0 0;
		text-align: center;
		font-weight: bold;
	  font-size: 20px;
		color: white;
		font-family: courier;
	    height:231px;
		 background:black;
	    opacity:0;
	    transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	    position: absolute;
	  }

	  .galeria li:hover:after{
		opacity:0.60;
	}


  .galeria li.galeria1:after{
    bottom: 24%;
    left: 0px;
    padding: 0%;
    width: 486px;
    height: 324px;
		content:'FOTOGRAFÍA - MATADOR';
  }

.galeria li.galeria2:after{
    bottom: 24%;
    left: 35.35%;
    padding: 0%;
    width: 486px;
    height: 324px;
		content:'INFOGRAFÍAS - GREENPEACE';
}
.galeria li.galeria3:after{
    bottom: 24%;
    left: 70.6%;
    padding: 0%;
    width: 486px;
    height: 324px;
    content:'BRANDING - TITELLESTIU';
 }*/
