@import "_menuDesplegable.scss";
@import "_titellestiu.scss";
@import "_greenpeace.scss";
@import "_matador.scss";
@import "_sobreMi.scss";
@import "_home.scss";
@import "_proyectos.scss";


h1{
	color: white;
    font-size: 40px;
    position: absolute;
    margin-top: 31%;
    margin-left: 46%;
    transform: translate(-50%, -25%);
    display: block;
    font-family: courier;
    letter-spacing: 5px;
}
.texto h1{
	color: white;
	font-size: 90px;
	line-height: 76px;
	margin-left: 50%;
	transform: translate(-50%, -25%);
	letter-spacing: 5px;
}

h2{
	color: #57B78D;
  font-size: 25px;
	font-family: courier;
	margin-bottom: 25px;
}

h3{
	font-size: 18px;
  line-height: 22px;
  margin-top: 25px;
  margin-bottom: 25px;
}

p{
	font-size: 16px;
	line-height: 22px;
  font-family: courier;
  font-style: normal;
  margin-top: 5px;
}



@media (min-width: 768px){
	h1{
		font-size: 70px;
		margin-top: 36%;
    margin-left: 50%;
	}
	.texto h1{
		font-size: 185px;
		line-height: 145px;
	}
	h2{
		font-size: 40px;
	}
	h3{
		font-size: 20px;
		line-height: 25px;
	}
	p{
		font-size: 18px;
		line-height: 25px;
	}
}




@media (min-width:1024px) {

	.cabecera h1{
	 font-size: 120px;
	 margin-top: 31%;
	 margin-left: 48%;
	}
	.texto h1{
		font-size: 220px;
		line-height: 174px;
	}
	.introduccion h2{
		font-size: 45px;}

}






@media (min-width:1024px) {
	.contenedor {
		width: 1000px;
	}
}
